.footer {
    border-top: 2px solid skyblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: blue;
    height: 75px;
  }
  
  .content {
    background-color: #6CE5E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
  }
  
  .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    padding: 5px 5px 5px 5px;
  }
  
  .logo:hover {
    transform: scale(1.15);
  }
  
  .main-logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .login {
    display: flex;
    align-items: center;
    background-color: #34537B;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 3px 10px;
  }
  
  .login-link {
    color: white;
  }
  